{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-runtime",
    "array-includes",
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-assign",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
