/*css reset*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
li {
  list-style-type: none;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/*main style*/
html, body, #app, .app-wrapper {
  height: 100%;
}
.app-content {
  position: relative;
  height: 100%;
  padding-top: 52px;
  box-sizing: border-box;
}
body {
  // background: #000 url('../../assets/magic.jpg') scroll no-repeat bottom center;
  background: transparent scroll no-repeat bottom center;
  background-size: cover;
  font: 14px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
